<div id="relativeWrap">
<div class="container wrapper">

    <ul class="nav justify-content-center">

        <!-- <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">{{projectName}}</a> -->

        <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/portfolio']" routerLinkActive="router-link-active">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a>
        </li>
    </ul>
    <div class="container text-center">
        <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">
            <img class=" d-block m-3 img-fluid logo-banner" src="assets/img/logo/banner.png" alt="">
        </a>
    </div>
    <div class="container text-center socialmedia">
        <a href=""> <i class="fa fa-facebook" aria-hidden="true"> </i></a>
        <a href=""> <i class="fa fa-pinterest-p" aria-hidden="true"> </i></a>
        <a href=""> <i class="fa fa-twitter" aria-hidden="true"> </i></a>
        <a href=""> <i class="fa fa-instagram" aria-hidden="true"> </i></a>
        <a href=""> <i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <span> |</span>
        <a [routerLink]="['/contact']"> <i class="fa fa-envelope-o" aria-hidden="true"></i></a>

        <a href=""><i class="fa fa-share" aria-hidden="true"></i></a>
    </div>
</div>
<a (click)='toTop()' class="btn rounded-circle topBtn">&#10514;</a>
</div>