$dark-color: #3e4e50;
$light-color: #f7f7f2;
$accent-color1: #e4e6c3;
$accent-color2: #899878;


a {
    color: #3e4e50;
    background-color: transparent;
}


i {
    color: #899878;
    padding: 1vw;
}