
@import '../../colors';

a {
    color: $dark-color;
    background-color: transparent;
}


i {
    color: #899878;
    padding-inline-start: 1vw;
}
i:hover {
    color: black;
}

.nav-link:hover {
    border-bottom: 1px solid #899878;
}

.wrapper {
    margin-top: 7vw;
    margin-bottom: 5vw;
}
