@import '../../colors';

.navbar {
    z-index: 2;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.0));
}

a {
    color: $dark-color;
    background-color: transparent;
};

a:hover {
    color: $hover-color
};

.navbar-toggler-icon .navbar-toggler {
    border-color: transparent; 
    
};
.navbar-toggler-icon .navbar-toggler .icon-bar {
    background-color: black;
};
.navbar-toggler-icon .navbar-toggler .icon-bar:hover {
    background-color: $hover-color; /* Changes toggle color on hover */
};