<div class="d-flex justify-content-center align-items-center text-center">
    <nav class="col-12 navbar navbar-expand-sm navbar-expand-lg px-5 pt-2 pb-4">
        <a class="navbar-brand mb-1 d-block d-sm-none " [routerLink]="['/']" routerLinkActive="router-link-active" >
            <img src="assets/img/logo/nav.png" alt="{{projectName}}" style="width:40px;">
        </a>
        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item d-none d-sm-block">
                    <a class="navbar-brand mb-1" [routerLink]="['/']" routerLinkActive="router-link-active">
                        <img src="assets/img/logo/nav.png" alt="{{projectName}}" style="width:40px;">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-3 h5 font-weight-normal" [routerLink]="['/portfolio']"
                        routerLinkActive="router-link-active">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-3 h5 font-weight-normal" [routerLink]="['/about']"
                        routerLinkActive="router-link-active">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-3 h5 font-weight-normal" [routerLink]="['/contact']"
                        routerLinkActive="router-link-active">Contact</a>
                </li>
                <li class="nav-item">
                    <br>
                </li>
                <li class="nav-item">
                    <br>
                </li>
            </ul>
        </div>
    </nav>
</div>