<img class="mx-auto d-block mt-5 img-fluid" src="assets/img/logo/banner.png" alt="">
<div class="container d-flex justify-content-center mt-5">
    
    <div class="jumbotron-fluid">
        <div class="container-fluid"> 
            <h1 class="display-4 text-center">About Us</h1>
            <p class="lead text-center">A team of Vienna based Photographers</p>
            <hr class="my-4">
            <p class="text-center">our motto</p>
            <p class="text-center">passion | perfection | pizza</p>
            <p class="lead text-center">
                <a class="nav-link text-center" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</a>
            </p>
        </div>
    </div>
    
    
    
    
    
    


</div>






