<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4 text-center">About Us</h1>
            <p class="lead text-center">A team of Vienna based Photographers</p>
            <hr class="my-4">
            <h3 class="font-italic font-weight-light text-center m-5">Photography is our passion, Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Consequatur rem omnis iusto ut ducimus? </h3>

        </div>
        <div class="col-md-6">
            <h1 class="font-weight-light">Who we are</h1>
            <dl>
                <dt class="mt-md-2 text-capitalize font-italic mb-1 font-weight-light h4">John Doe</dt>
                <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloribus nemo obcaecati est
                    illo, laboriosam in asperiores expedita veritatis nisi quasi ipsa cumque, quos qui eum eius, nulla
                    distinctio ab.
                </dd>

                <dt class="mt-md-2 text-capitalize font-italic mb-1 font-weight-light h4">Jane Doe</dt>
                <dd>Nullam viverra lorem arcu, a consectetur urna vestibulum nec. Maecenas in turpis in massa suscipit
                    congue. Vivamus interdum justo non massa scelerisque, sed vehicula velit aliquam. Duis sagittis ex
                    nec sodales sodales. Suspendisse quis ipsum sodales, ultrices sem eget, aliquet nisl.
                </dd>

                <dt class="mt-md-2 text-capitalize font-italic mb-1 font-weight-light h4">Mr. Smith</dt>
                <dd>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Integer ultricies ipsum sit amet nulla egestas, vitae porta ante fermentum. Donec et mi porttitor,
                    feugiat
                    sapien in, maximus elit.
                </dd>
            </dl>
        </div>
        <div class="col-md-6 my-auto">
            <img src="../../assets/img/about/about (2).jpg" alt="">
        </div>


    </div>
    <div class="my-5">
        <hr>
        <a class="nav-link text-center" [routerLink]="['/contact']" routerLinkActive="router-link-active"><img
                class="mx-auto d-block img-fluid logo-banner" src="assets/img/logo/banner.png" alt=""></a>
        <!-- <p class="text-center display-4">our motto</p>
        <p class="text-center">passion | perfection | pizza</p> -->
        <p class="lead text-center">
            <a class="nav-link text-center" [routerLink]="['/contact']">contact us</a>
        </p>
        <hr>
    </div>

    <div class="my-5">
        <img src="../../assets/img/about/about studio.jpg" alt="Team4 Photographers Studio">
        <h3 class="font-italic font-weight-light text-center mx-5">Photography is our passion, we offer professional
            space and equipment for all your photography needs. </h3>
    </div>

    <div class="row">
        <div class="col-md-6 my-auto">
            <img src="../../assets/img/about/about (3).jpg" alt="Photographer on hill">
        </div>
        <div class="col-md-6">
            <h1 class="font-italic mt-5 font-weight-light">What we offer</h1>
            <dl>
                <dt class="mt-md-2 text-capitalize font-italic mb-1 font-weight-light h4">First service</dt>
                <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloribus nemo obcaecati est
                    illo, laboriosam in asperiores expedita veritatis nisi quasi ipsa cumque, quos qui eum eius, nulla
                    distinctio ab.
                </dd>

                <dt class="mt-md-2 text-capitalize font-italic mb-1 font-weight-light h4">Second service</dt>
                <dd>Nullam viverra lorem arcu, a consectetur urna vestibulum nec. Maecenas in turpis in massa suscipit
                    congue. Vivamus interdum justo non massa scelerisque, sed vehicula velit aliquam. Duis sagittis ex
                    nec sodales sodales. Suspendisse quis ipsum sodales, ultrices sem eget, aliquet nisl.
                </dd>

                <dt class="mt-md-2 text-capitalize font-italic mb-1 font-weight-light h4">Third service</dt>
                <dd>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Integer ultricies ipsum sit amet nulla egestas, vitae porta ante fermentum. Donec et mi porttitor,
                    feugiat
                    sapien in, maximus elit.
                </dd>
            </dl>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h1 class="display-4 text-center mt-5">Our clients</h1>
            <p class="lead text-center">Below are some of our favorite clients we have been lucky enough to work with
                over the years.</p>
            <hr class="my-4">
        </div>
        <div class="row">
            <ul class="list-inline text-center">
                <li class="list-inline-item m-3 text-center col-md-2 col-sm-3 col-4">Axe</li>
                <li class="list-inline-item m-3 text-center col-md-2 col-sm-3 col-4">Levi's</li>
                <li class="list-inline-item m-3 text-center col-md-2 col-sm-3 col-4">Colgate</li>
                <li class="list-inline-item m-3 text-center col-md-2 col-sm-3 col-4">Nike</li>
                <li class="list-inline-item m-3 text-center col-md-2 col-sm-3 col-4">DKNY</li>
                <li class="list-inline-item m-3 text-center col-md-2 col-sm-3 col-4">Reebok</li>
                <li class="list-inline-item m-3 text-center col-md-2 col-sm-3 col-4">Samsung</li>
                <li class="list-inline-item m-3 text-center col-md-2 col-sm-3 col-4">Microsoft</li>
                <li class="list-inline-item m-3 text-center col-md-2 col-sm-3 col-4">Sony</li>
                <li class="list-inline-item m-3 text-center col-md-2 col-sm-3 col-4">Asus</li>
                <li class="list-inline-item m-3 text-center col-md-2 col-sm-3 col-4">Apple</li>
                <li class="list-inline-item m-3 text-center col-md-2 col-sm-3 col-4">Toshiba</li>
                <li class="list-inline-item m-3 text-center col-md-2 col-sm-3 col-4">VSC</li>
                <li class="list-inline-item m-3 text-center col-md-2 col-sm-3 col-4">Bootstrap</li>
                <li class="list-inline-item m-3 text-center col-md-2 col-sm-3 col-4">Angular</li>
            </ul>
        </div>
    </div>
</div>