
<div class="container d-flex justify-content-center mt-5">
    <!--     
    <div class="jumbotron-fluid">
        <div class="container-fluid"> 
            <h1 class="display-4 text-center">About Us</h1>
            <p class="lead text-center">A team of Vienna based Photographers</p>
            <hr class="my-4">
            <p class="text-center">our motto</p>
            <p class="text-center">passion | perfection | pizza</p>
            <p class="lead text-center">
                <a class="nav-link text-center" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</a>
            </p>
        </div>
    </div> -->
</div>






<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4 text-center">About Us</h1>
            <p class="lead text-center">A team of Vienna based Photographers</p>
            <hr class="my-4">
            <h2 class="font-italic font-weight-light text-center m-5">Photography is our passion, Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Consequatur rem omnis iusto ut ducimus? </h2>
            <h3 class="font-italic mt-5">Who we are</h3>
        </div>
        <div class="col-md-6">
            <dl>
                <dt class="mt-md-2 text-capitalize font-italic mb-1">John Doe</dt>
                <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloribus nemo obcaecati est
                    illo, laboriosam in asperiores expedita veritatis nisi quasi ipsa cumque, quos qui eum eius, nulla
                    distinctio ab.
                </dd>

                <dt class="mt-md-2 text-capitalize font-italic mb-1">Jane Doe</dt>
                <dd>Nullam viverra lorem arcu, a consectetur urna vestibulum nec. Maecenas in turpis in massa suscipit
                    congue. Vivamus interdum justo non massa scelerisque, sed vehicula velit aliquam. Duis sagittis ex
                    nec sodales sodales. Suspendisse quis ipsum sodales, ultrices sem eget, aliquet nisl.
                </dd>

                <dt class="mt-md-2 text-capitalize font-italic mb-1">Mr. Smith</dt>
                <dd>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Integer ultricies ipsum sit amet nulla egestas, vitae porta ante fermentum. Donec et mi porttitor,
                    feugiat
                    sapien in, maximus elit.
                </dd>
            </dl>
        </div>
        <div class="col-md-6 my-auto">
            <img src="../../assets/img/about/about (2).jpg" alt="">
        </div>

    </div>
    <div class="mt-md-5">
        <hr>
        <img class="mx-auto d-block my-5 img-fluid logo-banner" src="assets/img/logo/banner.png" alt="">
        <!-- <p class="text-center display-4">our motto</p>
        <p class="text-center">passion | perfection | pizza</p>
        <p class="lead text-center">
            <a class="nav-link text-center" [routerLink]="['/contact']"
                routerLinkActive="router-link-active">Contact</a>
        </p> -->
        <hr>
    </div>

    <div class="my-5">
        <img src="../../assets/img/about/about (1).jpg" alt="">
        <h2 class="font-italic font-weight-light text-center">Photography is our passion, Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Consequatur rem omnis iusto ut ducimus? </h2>
    </div>

    <div class="row">
        <div class="col-md-6 my-auto">
            <img src="../../assets/img/about/about (3).jpg" alt="">
        </div>
        <div class="col-md-6">
            <h3 class="font-italic mt-5">What we offer</h3>
            <dl>
                <dt class="mt-md-2 text-capitalize font-italic mb-1">First service</dt>
                <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloribus nemo obcaecati est
                    illo, laboriosam in asperiores expedita veritatis nisi quasi ipsa cumque, quos qui eum eius, nulla
                    distinctio ab.
                </dd>

                <dt class="mt-md-2 text-capitalize font-italic mb-1">Second service</dt>
                <dd>Nullam viverra lorem arcu, a consectetur urna vestibulum nec. Maecenas in turpis in massa suscipit
                    congue. Vivamus interdum justo non massa scelerisque, sed vehicula velit aliquam. Duis sagittis ex
                    nec sodales sodales. Suspendisse quis ipsum sodales, ultrices sem eget, aliquet nisl.
                </dd>

                <dt class="mt-md-2 text-capitalize font-italic mb-1">Third service</dt>
                <dd>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Integer ultricies ipsum sit amet nulla egestas, vitae porta ante fermentum. Donec et mi porttitor,
                    feugiat
                    sapien in, maximus elit.
                </dd>
            </dl>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h1 class="display-4 text-center">Our clients</h1>
            <p class="lead text-center">Below are some of our favorite clients we have been lucky enough to work with
                over the years.</p>
            <hr class="my-4">
        </div>
        <div class="row">
            <ul class="list-inline text-center">
                <li class="list-inline-item m-3 text-center col-sm-2 col-xs-3">Axe</li>
                <li class="list-inline-item m-3 text-center col-sm-2 col-xs-3">Levi's</li>
                <li class="list-inline-item m-3 text-center col-sm-2 col-xs-3">Colgate</li>
                <li class="list-inline-item m-3 text-center col-sm-2 col-xs-3">Nike</li>
                <li class="list-inline-item m-3 text-center col-sm-2 col-xs-3">DKNY</li>
                <li class="list-inline-item m-3 text-center col-sm-2 col-xs-3">Reebok</li>
                <li class="list-inline-item m-3 text-center col-sm-2 col-xs-3">Samsung</li>
                <li class="list-inline-item m-3 text-center col-sm-2 col-xs-3">Microsoft</li>
                <li class="list-inline-item m-3 text-center col-sm-2 col-xs-3">Sony</li>
                <li class="list-inline-item m-3 text-center col-sm-2 col-xs-3">Asus</li>
                <li class="list-inline-item m-3 text-center col-sm-2 col-xs-3">Apple</li>
                <li class="list-inline-item m-3 text-center col-sm-2 col-xs-3">Toshiba</li>
                <li class="list-inline-item m-3 text-center col-sm-2 col-xs-3">VSC</li>
                <li class="list-inline-item m-3 text-center col-sm-2 col-xs-3">Bootstrap</li>
                <li class="list-inline-item m-3 text-center col-sm-2 col-xs-3">Angular</li>
            </ul>
        </div>
    </div>
</div>