// Use Bootstrap breakpoints for consistency.
$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;

#gallery {

  img {
    height: 75vw;
    object-fit: cover;

    @media (min-width: $bootstrap-sm) {
      height: 35vw;
    }

    @media (min-width: $bootstrap-lg) {
      height: 20vw;
    }
  }
}

figure img:hover,
a:hover {
  cursor: pointer;
}


.modal-dialog {
  height: 80vh;
}

.carousel {
  height: 80vh;
}

.carousel .carousel-inner {
  height: 80vh;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
  height: 80vh;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.figure:hover {
  opacity: 0.9;
}