@import '../../colors';


.figure-img:hover {
    opacity: 0.9;
}

// .carousel-inner {
//     height: 80vh;
// }

.iconPrev, .iconNext {
    color: $dark-color;
}

.testiomonials {
    color: $dark-color;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
   filter: invert(1);
}

.testimonialContent {
    width: 40rem;
}

.avatar {
    width: 15rem;
    height: 15rem;
}

.avatar > img {
    height: 100%;
    width: auto;
    object-fit: contain;

}