@import '../../colors';


.figure-img:hover {
    opacity: 0.9;
}

img {
    width: 100%;
    height: 100%;
}

.carousel, .carousel-inner {
    height: 85vh;
}

.carousel {
    margin-top: -80px;
    overflow: hidden;
}

.carousel img {
    object-fit: cover;
    object-position: center;
    height: 85vh;
}

.gallery {
    background-color: $light-color;
}



// .picContainer > img {
//     object-fit: fill;
// }

a {
    color: $dark-color;
}
a:hover, small:hover {
    color: $hover-color;
}

// ---------------------------- testiomonials

.iconPrev, .iconNext {
    color: $dark-color;
}

.testiomonials {
    color: $dark-color;
}

.testiomonial {
    width: 70vw;
}


.carousel-control-next-icon,
.carousel-control-prev-icon {
   filter: invert(1);
}

.testimonialContent {
    width: 45rem;
    margin-top: 8vw;
    text-align: center;
}

.avatar {
    width: 13rem;
    height: 13rem;
}

.avatar > img {
    margin-top: 4vw;
    margin-bottom: 4vw;
    height: 100%;
    width: auto;
    object-fit: contain;

}