@import '../../colors';

.google-maps{
    width: 100%;
    height: 100%;
}

iframe{
    width: 100%;
    height: 100%;
}

form b{
    color: crimson;
}

label{
    font-size: 80%;
    font-style: italic;
}

input, textarea{
    resize: none;
    outline: 0;
    box-shadow:none !important;
    border:0px solid #ccc !important;
    border-bottom: 2px solid #cccc !important;
}

input[formControlName=subject]{
    border:1px solid #ccc !important;
}

textarea{
    border:1px solid #ccc !important;
}

button{
    background-color: $dark-color;
}

#modal-text{
    white-space: pre;
}

.errorColor{
    color: darkred !important;
}